body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* styles.css */
.icon-container {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px; /* 아이콘 크기 조정 */
    color: #333; /* 아이콘 색상 설정 */
}
