<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.SshMapper">

    <!-- 기본 키로 조회 -->
    <select id="selectByAcceptTime" parameterType="java.util.Date" resultType="com.playGround.model">
        SELECT ssh_accept_time
        FROM ssh
        WHERE ssh_accept_time = #{sshAcceptTime}
    </select>

    <!-- 데이터 삽입 -->
    <insert id="insertSsh" parameterType="com.playGround.mapper">
        INSERT INTO ssh (ssh_accept_time)
        VALUES (#{sshAcceptTime})
    </insert>

</mapper>
